html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Alegreya Sans SC";
    background-color: #001555;
    
}
form{
    width: 70%;
}
.main{
    display: flex;
    flex-direction: row;
    background-color: #255c99;
    flex: auto;
    width: 650px;
    
}

.left{
    display: flex;
    width: 15%;
    margin: 0px;
}

.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 70%;
    inline-size: max-content;
}

.right{
    display: flex;
    width: 15%;
    margin: 0px;
}

.name>input, 
.email>input{
    width: 100%;
}

input>name{
    width: 30px;
}